body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ticker {
  display: flex;
  .ticker__row {
    th, td {
      font-size: 12px;
      text-transform: uppercase;
      border: 1px solid #F6F6F6;
      width: 160px;
      padding: 12px 12px 12px 20px;
      color: rgba(34, 35, 38, 0.9);
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align: left;
    }

    th {
      font-weight: bold;
    }
  }

  .tickerInfo {
    margin: 16px;
    button {
      width: 100px;
      border-radius: 2px;
      padding: 8px;
      color: white;
      font-size: 14px;
      background-color: #55ACEF;
      border: none;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }

      &:active {
        outline: none;
      }
    }

    .tickerInfo__container {
      display: flex;
      align-items: center;
      font-size: 14px;

      .tickerInfo__update {
        width: 20px;
        height: 20px;
        margin: 8px;
        border: 1px solid #F6F6F6;

        &--noChange {
          background-color: #e0d9d9;
        }

        &--up {
          background-color: #96bf48;
        }

        &--down {
          background-color: #cd201f;
        }
      }
    }
  }
}